<html>
<head>
	<title>Carta de menùs</title>
	  
		
      <!--script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script-->
       	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/animacion.css">



	  	<script SRC="bower_components/angular/angular.min.js" TYPE="text/javascript"></script>
		<script SRC="bower_components/angular-ui-router/release/angular-ui-router.min.js" TYPE="text/javascript"></script>
 	<script SRC="js/app.js" TYPE="text/javascript"></script>
</head>
<body ng-app="ABMangularPHP" ng-controller="eleccion">
	
	  <div class="container">
		<div class="page-header">
			<center><h1>Carta de Menus</h1> </center>     
		</div>
	  	 
		           
					<div class="CajaInicio animated bounceInRight">
							<h1>Listado de pizzas</h1>
								<input type="search" ng-model="buscador" placeholder="Buscar Usuario">							<!-- id="listaPersonas" -->
								
								<table class='table table-hover table-responsive' id="listamascota">
									<thead>
										<tr>
											<th>  Foto   </th>															
											<th>  tipo   </th>
											<th>  Ingredientes </th>
											<th>  Prècio     </th>
											<th>  Cantidad     </th>
											
										</tr> 
									</thead>
									<tr ng-repeat="mascota in Listadomascotas | filter:buscador as resultado">

										<td><img  class='fotoGrilla' ng-src="fotos/{{mascota.foto}}" /></td>
							            <th>{{mascota.tipo}}</th>
										<td>{{mascota.ingredientes}}</td>
										<td>{{mascota.precio}}</td>
										
                                        <td><input type="number" min="0" class="miTexttarea" ng-model="mascota.cantidad"><!-- <span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span> --></td>
									 	
										<!--<td><button class='btn btn-warning' name='Modificar' ui-sref="modificacion({id:mascota.id, ingredientes:mascota.ingredientes, tipo:mascota.tipo,precio:mascota.precio, foto:mascota.foto})" ><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
											 -->	

									</tr>
									
								</table>
								<div ng-if="resultado.length==0">
									<td>No hay pizzas con ese critero.</td>
										<td></td>
										<td></td>

										<td></td>
										
								</div>
								</br>
									<input type="button" name="guardarPedido" ng-click="guardarPedido(Listadomascotas)" value="confirmar">	
						
							</div>

						</div>

		</div>
</body>
</html>